body {
	overflow-x: hidden !important;
	font-family: Okra-Regular !important;
	top: 0 !important;
}

body > .skiptranslate {
	display: none;
}

/* font and font family */
@font-face {
	font-family: Okra-Regular;
	src: url("./assets/fonts/Okra-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: Okra-Bold;
	src: url("./assets/fonts/Okra-Bold.ttf");
	font-display: swap;
}

@font-face {
	font-family: Okra-Medium;
	src: url("./assets/fonts/Okra-Medium.ttf");
	font-display: swap;
}

.font-regular {
	font-family: Okra-Regular;
}

.font-medium {
	font-family: Okra-Medium;
}

.font-bold {
	font-family: Okra-Bold !important;
}

select {
	border: none;
	background: white;
	color: #000 !important;
	outline: none;
}

.goog-logo-link {
	display: none !important;
}

.goog-te-banner {
	display: none !important;
	background-image: none !important;
	color: transparent !important;
}
.goog-te-gadget {
	font-size: 10px !important;
	color: transparent !important;
}

.goog-te-combo {
	margin: 10px;
	margin-right: 12px !important;
	/* color: transparent !important; */
}

#google_translate_element {
	margin-top: 15px;
}

.red-scholarship-bg {
	background: linear-gradient(
		89.95deg,
		rgba(255, 50, 60, 0.274) 3.17%,
		rgba(255, 255, 255, 0.0704) 105.69%
	);
}
