@tailwind base;
@tailwind components;

@font-face {
	font-family: "Okra-Bold";
	src: local("Roboto"), url("./assets/fonts/Okra-Bold.ttf") format("ttf");
}

@tailwind utilities;

@layer base {
	@font-face {
		font-family: Okra Bold;
		font-weight: 400;
		src: url(./assets/fonts/Okra-Bold.ttf) format("ttf");
	}
}
